.paint {
    margin: 0;
    background-color: blue;
}

.block1 {
    background-color: red;
    color: red;
    height: 100vh;
    border-radius: 100px;
}

.block2 {
    background-color: orange;
    color: orange;
    height: 95vh;
    margin:0 25px;
    border-radius: 100px;

}

.block3 {
    background-color: yellow;
    color: yellow;
    height: 90vh;
    margin:0 25px;
    border-radius: 100px;

}

.block4 {
    background-color: green;
    color: green;
    height: 85vh;
    margin:0 25px;
    border-radius: 100px;

}

.block5 {
    background-color: blue;
    color: blue;
    height: 80vh;
    margin:0 25px;
    border-radius: 100px;

}

.block6 {
    background-color: indigo;
    color: indigo;
    height: 75vh;
    margin:0 25px;
    border-radius: 100px;

}

.block7 {
    background-color: violet;
    color: violet;
    height: 70vh;
    margin:0 25px;
    border-radius: 100px;

}

.block8 {
    background-color: red;
    color: red;
    height: 65vh;
    margin:0 25px;
    border-radius: 100px;

}

.block9 {
    background-color: orange;
    color: orange;
    height: 60vh;
    margin:0 25px;
    border-radius: 100px;

}

.block10 {
    background-color: yellow;
    color: yellow;
    height: 55vh;
    border-radius: 100px;

    margin:0 25px;
}

.block11 {
    background-color: green;
    height: 50vh;
    color: green;
    margin:0 25px;
    border-radius: 100px;

}

.block12 {
    background-color: blue;
    color: blue;
    height: 45vh;
    margin:0 25px;
    border-radius: 100px;

}

.block13 {
    background-color: indigo;
    color: indigo;
    height: 40vh;
    margin:0 25px;
    border-radius: 100px;

}

.block14 {
    background-color: violet;
    color: violet;
    height: 35vh;
    margin:0 25px;
    border-radius: 100px;

}

.block15 {
    background-color: red;
    color: red;
    height: 30vh;
    margin:0 25px;
    border-radius: 100px;

}

.block16 {
    background-color: orange;
    color: orange;
    height: 25vh;
    margin:0 25px;
    border-radius: 100px;

}

.block17 {
    background-color: yellow;
    color: yellow;
    height: 20vh;
    border-radius: 100px;

    margin:0 25px;
}

.block18 {
    background-color: green;
    color: green;
    height: 15vh;
    margin:0 25px;
    border-radius: 100px;

}

.block19 {
    background-color: blue;
    color: blue;
    height: 10vh;
    margin:0 25px;
    border-radius: 100px;

}

.block19 {
    background-color: indigo;
    color: indigo;
    height: 10vh;
    margin:0 25px;
    border-radius: 100px;

}

.block20 {
    background-color: violet;
    color: violet;
    height: 5vh;
    margin:0 25px;
    border-radius: 100px;

}

